footer {
  background-color: #1d3557;
  color: #f1faee;
  height: 75px;
  position: fixed;
  bottom: -20px;
  left: 0px;
  width: 100%;
  font-size: 20px;
  z-index: 2;
}

i {
  color: #f1faee;
  font-size: 60px;
  margin-left: 40px;
  margin-right: 40px;
}

@media screen and (max-width: 900px) {
  footer {
    font-size: 15px;
  }
  i {
    font-size: 50px;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media screen and (max-width: 750px) {
  footer {
    font-size: 12px;
  }
  i {
    font-size: 40px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 480px) {
  i {
    font-size: 35px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
